<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page with bootstrap</title>
  <link rel="stylesheet" href="../../bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">

  <link rel="stylesheet" href="../../css/style.css">

</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1">
      <img src="../../assests/img.png" height="50" width="50"/>
    </div>

    <div class="col-11 col-md-11 col-lg-11 col-xl-11">
      <nav class="navbar navbar-expand-sm justify-content-center">

  <div class="container-fluid">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gallery</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Book showcase</a>
      </li>

    </ul>
  </div>

</nav>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-2 col-md-2 col-lg-2 col-xl-2">
        <nav class="navbar justify-content-center">

  <div class="container-fluid">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
          <h4>Cartegories</h4>
          </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Sport art</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Paintings</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Pencil drawings</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Sculptures</a>
      </li>
    </ul>
  </div>

</nav>
      </div>



      <div class="col-5 col-md-5 col-lg-5 col-xl-5">

         <div class="card" style="width:400px">


           <img src="../../assests/img.png" height="300" width="370"/>
           <div class="card-body">
    <h4 class="card-title">Art piece 1</h4>
    <p class="card-text">Art by lamborghini</p>
    <a href="#" class="btn btn-warning">Purchase art</a>
  </div>

</div>
      </div>


      <div class="col-5 col-md-5 col-lg-5 col-xl-5">

        <div class="card" style="width:400px">


          <img src="../../assests/img.png" height="300" width="370"/>
          <div class="card-body">
    <h4 class="card-title">Art piece 2</h4>
    <p class="card-text">Art by lamborghini</p>
    <a href="#" class="btn btn-warning">Purchase art</a>
              </div>

        </div>
      </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12 col-xl-12">
         <div class="alert alert-danger">Notifications</div>
      <ul class="list-group">
  <li class="list-group-item d-flex justify-content-between list-group-item-success align-items-center">
    Your Inbox
    <span class="badge bg-primary rounded-pill">12</span>
  </li>
  <li class="list-group-item d-flex justify-content-between list-group-item-warning align-items-center">
    Your Cart
    <span class="badge bg-primary rounded-pill">4</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Profile settings
    <span class="badge bg-primary rounded-pill">2</span>
  </li>
</ul>



  </div>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
      <div class="alert alert-success">
          Our slogan
      </div>
    </div>
  </div>
    </div>

      <div class="container">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
        <div>Fill the form below.</div>
    </div>
  </div>
      </div>





<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
      <div class="alert alert-info">
          Contact us

      <form>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="message">message:</label>
    <textarea type="text" class="form-control" id="message" rows="10" cols="10"></textarea>
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
    </div>
  </div>
</div>
      </div>

</div>

</body>
</html>